import type { FC } from 'react'

type Props = {
  {{camelCase name}}: string
}

export const {{pascalCase name}}: FC<Props> = ({ {{camelCase name}} }) => {
  return <div>{ {{camelCase name}} }</div>
}